@page "{id:int?}"
@model PRN221_ASSIGNMENT.Pages.Schedule.EditModel
@{
}
<div>
    <h1>Edit Schedule</h1>
    <h3>Please fill in this form</h3>
    <form method="post">
        <label>Class</label>

        <select asp-for="FormData.Class">
            @foreach (var r in Model.Classes)
            {
                <option value="@r.Code">@r.Code</option>
            }
        </select>
        <br />
        <label>Subject</label>

        <select asp-for="FormData.Subject">
            @foreach (var r in Model.Subjects)
            {
                <option value="@r.Code">@r.Code</option>
            }
        </select>
        <br />
        <label>Room</label>
        <select asp-for="FormData.Room">
            @foreach (var r in Model.Rooms)
            {
                <option value="@r.Room">@r.Room</option>
            }
        </select>
        <br />
        <label>Teacher</label>
        <select asp-for="FormData.Teacher">
            @foreach (var r in Model.Teachers)
            {
                <option value="@r.Code">@r.Code</option>
            }
        </select>
        <br />
        <label>TimeSlot</label>
        <select asp-for="FormData.TimeSlot">
            @foreach (var r in Model.Slots)
            {
                <option value="@r.Code">@r.Code</option>
            }
        </select>
        <br />
        <button type="submit">Submit</button>
    </form>

    <div>
        @if (ViewData["Messages"] != null)
        {
            <h2>Results:</h2>
            <ul>
                @if (ViewData["Messages"] == "Saved successfully!")
                {
                    <p style="color:forestgreen">@ViewData["Messages"]</p>
                }
                else
                {
                    <p style="color:red">@ViewData["Messages"]</p>
                }
            </ul>
        }
    </div>
</div>
